<div class="container mt-4">
  <h1 class="animate__animated animate__backInLeft">All our flats</h1>
  <p>All <%= @flats.count %> flats</p>
  <div class="row">
    <% @flats.each do |flat| %>
      <%= render 'flat', flat: flat %>
    <% end %>
  </div>
</div>
